body{ 
Background-color:#EADDCA;
Color:black;
font-family:Times New Roman;
margin: 0;
Text transform: none; 
} 
p{
Background-color:cream;
Color:black;
font-family:Times New Roman;
margin: 0;
Text transform: none;


}
h1{
Background-color:cream;
Color:white;
font-family:Times New Roman;
margin: 0;
Text transform: none;

}
h2{
	Background-color:cream;
Color:white;
font-family:Times New Roman;
margin: 0;
Text transform: none;
}
li{
	Background-color:cream;
Color:white;
font-family:Times New Roman;
margin: 0;
Text transform: none;
}

