body {
  background color:#FFA07A;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  
}
@media (max-width:768px){

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline-block;
  margin-right: 30px;
  display: center;
}
header{
  display: inline-block;
}

.description-container{
  max-width: 800px;
  margin: 40px auto 20px;
  border: solid, 10px;
}
 .description-container .floating-image{
  max-width: 400px;
 }   
 .description-container .floating-image.right{
  float: right;
  margin-left: 30px;
  margin-bottom:10px;
 }
 .description-container .floating-image.left{
  float: left;
  margin-right: 30px;
  margin-bottom:10px;
 }
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  display: block;
  flex: 1;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
  .about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  margin margin-left: auto;
  margin-right: auto;
  transition: 0.5;
}
.heading{
  width: 90%;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
margin: 25px auto;
}
.heading h1{
  font-size: 50px;
  color: #E5C836;
  margin-bottom: 25px;
}
.heading li{
  font-size: 16px;
  margin-bottom: 25px;
  margin: 20px auto;
  display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}

.about-image2{
  display: block;
  flex: 1;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
  .about-image2 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin margin-left: auto;
  margin-right: auto;
  transition: 0.5;
}
.heading2 {
  width: 90%;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
margin: 25px auto;
}
.heading2 h1{
  font-size: 50px;
  color:#E54236;
  margin-bottom: 25px;
}
.heading3 {
  width: 90%;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
margin: 25px auto;
}
.heading3 h1{
  font-size: 35px;
  color:#737370;
  margin-bottom: 25px;
}
.heading4{
  width: 90%;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
margin: 25px auto;
}
.heading4 h1{
  font-size: 50px;
  color:#18781B;
  margin-bottom: 25px;
}